/* 
    Document   : zapujcky
    Created on : 16.12.2014, 0:02:40
    Author     : Jerry
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.size-smaller {
    height: 20px;
    padding: 0px;
    margin: 0px;
}

.status-bar {
    width: 15px;
}